﻿
<h1>My Projects</h1>

<h3><a href="https://gitlab.com/users/wilcoforr/projects">My Gitlab Projects Page</a></h3>
<p>Check out my Gitlab Projects page for all my public projects. The list below is a few selected projects.</p>

<hr />

<ul class="list-group">
    <li class="list-group-item"><a href="#simpleStaticSiteGenerator">Simple Static Site Generator</a></li>
    <li class="list-group-item"><a href="#simpleFtpServer">Simple FTP Server</a></li>
    <li class="list-group-item"><a href="#tinyLogger">Tiny Logger</a></li>
    <li class="list-group-item"><a href="#sqlHelperUtilities">SQL Helper Utilities</a></li>
    <li class="list-group-item"><a href="#ravencrestMountainSkiResort">Ravencrest Mountain Ski Resort</a></li>
</ul>

<hr />

<h2><a id="simpleStaticSiteGenerator">Simple Static Site Generator</a> - C#</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, leo ut sollicitudin mattis, leo enim dapibus nisl, sed tempus neque nunc a arcu. Vestibulum posuere leo sit amet imperdiet convallis. Suspendisse iaculis auctor lectus, id ullamcorper dui ultrices ac. Nam nisi quam, varius vitae scelerisque sed, convallis fringilla risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lectus ipsum, elementum at aliquet eget, elementum et velit. Mauris fringilla ipsum at lectus consectetur ultricies.</p>

<h2><a id="simpleFtpServer">Simple FTP Server and Client</a> - Python</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, leo ut sollicitudin mattis, leo enim dapibus nisl, sed tempus neque nunc a arcu. Vestibulum posuere leo sit amet imperdiet convallis. Suspendisse iaculis auctor lectus, id ullamcorper dui ultrices ac. Nam nisi quam, varius vitae scelerisque sed, convallis fringilla risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lectus ipsum, elementum at aliquet eget, elementum et velit. Mauris fringilla ipsum at lectus consectetur ultricies.</p>

<h2><a id="ravencrestMountainSkiResort">Ravencrest Mountain Ski Resort</a> - HTML, CSS, JS (Bootstrap)</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, leo ut sollicitudin mattis, leo enim dapibus nisl, sed tempus neque nunc a arcu. Vestibulum posuere leo sit amet imperdiet convallis. Suspendisse iaculis auctor lectus, id ullamcorper dui ultrices ac. Nam nisi quam, varius vitae scelerisque sed, convallis fringilla risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lectus ipsum, elementum at aliquet eget, elementum et velit. Mauris fringilla ipsum at lectus consectetur ultricies.</p>


<h2><a id="sqlHelperUtilities">SQL Helper Utilties</a> - C#</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, leo ut sollicitudin mattis, leo enim dapibus nisl, sed tempus neque nunc a arcu. Vestibulum posuere leo sit amet imperdiet convallis. Suspendisse iaculis auctor lectus, id ullamcorper dui ultrices ac. Nam nisi quam, varius vitae scelerisque sed, convallis fringilla risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lectus ipsum, elementum at aliquet eget, elementum et velit. Mauris fringilla ipsum at lectus consectetur ultricies.</p>

<h2><a id="tinyLogger">Tiny Logger</a> - C</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, leo ut sollicitudin mattis, leo enim dapibus nisl, sed tempus neque nunc a arcu. Vestibulum posuere leo sit amet imperdiet convallis. Suspendisse iaculis auctor lectus, id ullamcorper dui ultrices ac. Nam nisi quam, varius vitae scelerisque sed, convallis fringilla risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse lectus ipsum, elementum at aliquet eget, elementum et velit. Mauris fringilla ipsum at lectus consectetur ultricies.</p>




