﻿
<div class="row">
    <h4>My Resume, Experience, and Work History</h4>
    
    <p>
        I am primarily a full stack web app developer with the .NET Framework stack (C#, ASP MVC, SQL Server, Azure, IIS), but I have created several desktop and mobile applications. I have over 4 years of .NET development experience while working as an intern and a programmer under programmer/analysts for the State of Alaska.
    </p>
    
    <p>I've maintained decade old legacy code, improved existing codebases with new features, migrations, and refactoring, doing database (backend SQL) cleanup and much more.</p>

    <p>Business Related Experience</p>
    <ul>
        <li>Gathering Requirements</li>
        <li>Agile Software Development Process</li>
        <li>Talking with business (clients) to gather needs/wants</li>
        <li>Communication Skills</li>
        <li>
            Extensive Documentation within code
            <ul>
                <li>
                    For example - imagine a method I wrote called `GetUserByID(int userID)`
                    <br />
                    Will be documented as:
                    <br />
<pre style="color:green;">
///&lt;summary&gt;This method returns a User by the User.UserID&lt;/summary&gt;
///&lt;param name="userID"&gt;The User's UserID&lt;/param&gt;
///&lt;returns&gt;The User&lt;/returns&gt;
</pre>
<pre style="color: dodgerblue;">
public void <span style="color:black;">GetUserByID(</span>int <span style="color:black;">userID)</span>
{
        ...
}
</pre>
                </li>
            </ul>
        </li>
    </ul>

    <h5>Programming Languages</h5>
    <ul>
        <li>
            Expert
            <ul>
                <li>
                    C# - 4 years
                    <ul>
                        <li>Web apps, Services, Desktop apps (GUIs)</li>
                    </ul>
                </li>
                <li>
                    C++ - 2 years
                    <ul>
                        <li>C++, familiar with modern C++ standards (ie C++14 and C++17)</li>
                    </ul>
                </li>
                <li>
                    C - 1 year
                    <ul>
                        <li>Familiar with modern C standards (C11)</li>
                    </ul> 
                </li>
                <li>
                    SQL - 3 years
                    <ul>
                        <li>Database creation, maintenance, restructuring</li>
                    </ul>
                </li>
                <li>Javascript - 3 years</li>
                <li>HTML - 5 years</li>
                <li>CSS - 5 years</li>
                <li>Python - 2 years - used mainly for miscellaneous scripting tasks</li>
            </ul>
        </li>
        <li>
            Intermediate
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>F#</li>
            </ul>
        </li>
    </ul>

    <h5>Technology Stacks</h5>
    <ul>
        <li>
            Microsoft's .NET Framework Technologies
            <ul>
                <li>ASP.NET MVC (versions 4-6)</li>
                <li>SQL Server (T-SQL)</li>
                <li>ASPX</li>
                <li>WCF Services</li>
                <li>SSRS (SQL Server Reporting Services)</li>
                <li>IIS</li>
                <li>WinForms</li>
                <li>WPF (Windows Presentation Foundation)</li>
                <li>Xamarin for cross platform mobile app development (Android, iOS, and Windows)</li>
            </ul>
        </li>
        <li>
            Javascript
            <ul>
                <li>jQuery and jQueryUI</li>
                <li>node.js</li>
                <li>bit of Angular1, bit of Angular2</li>
                <li>DojoToolkit - for maintenance of an older web app</li>
                <li>Some tinkering with React and Flux</li>
                <li>Some light Vue.js</li>
            </ul>
        </li>
        <li>
            HTML/CSS
            <ul>
                <li>Familiar with HTML5 and CSS3 features</li>
                <li>Bootstrap 3 and 4</li>
                <li>Skeleton.css</li>
                <li>Aware of HTML/CSS access/disability standards such as screenreaders, color blindness, etc</li>
            </ul>
        </li>
        <li>
            Java
            <ul>
                <li>Android App development with Android Studio</li>
            </ul>
        </li>
        <li>
            Unix experience
            <ul>
                <li>Ubuntu</li>
                <li>Mint Linux</li>
            </ul>
        </li>
    </ul>

    <h4>Software</h4>
    <p>Very experienced and proficient with the following software</p>
    <ul>
        <li>Visual Studio</li>
        <li>SQL Server Management Studio</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Premiere</li>
        <li>Adobe InDesign</li>
        <li>Microsoft Office Products (Word, Excel, PowerPoint, etc)</li>
    </ul>

    <h4>Misc</h4>
    <ul>
        <li>Main Operating System of choice is Windows (Windows poweruser)</li>
        <li>Some familiarity with Unix Operating Systems like Ubuntu and Mint Linux, and Unix OS Fundamentals</li>
    </ul>
</div>
