﻿<footer>
    <p>&copy; Forrest <span id="yearLastModified"></span></p>
</footer>
        </div> <!-- /container -->
<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

<script src="js\bootstrap.min.js"></script>
<script>
    document.getElementById("yearLastModified").innerHTML = document.lastModified.substr(6, 4);
</script>
    </body>
</html>
