﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{{metaDescription}}">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css\bootstrap.min.css">
    <!-- Custom styles for this template -->
    <style>
        body {
            padding-bottom: 2rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse" style="border-radius:0;">
        <div class="container">
            <a class="navbar-brand" href="#">My Site</a>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="resume.html">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top:20px;">

